html {
  height: 100%;
}
body {
  background: radial-gradient(
    ellipse at right bottom,
    #eeb1bf 5%,
    #d42dab 15%,
    #4d1d63 50%,
    #030243 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white !important;
}
.nav-link,
nav {
  color: white !important;
}
a#post-title:hover {
  /* border-bottom: 2px solid; */
  text-decoration: underline;
  transition: all 300ms ease;
}
.btn-coustom {
  background-color: #4d1d63 !important;
  color: white !important;
  border-width: 2px !important;
}
.btn-coustom:hover {
  background-color: white !important;
  color: black !important;
  border-color: #4d1d63 !important;
  border-width: 2px !important;
}
