html {
  height: 100%;
}
body {
  background: radial-gradient(
    ellipse at right bottom,
    #eeb1bf 5%,
    #d42dab 15%,
    #4d1d63 50%,
    #030243 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  color: white !important;
}
.nav-link,
nav {
  color: white !important;
}
a#post-title {
  display: inline-block;
  position: relative;
}
a#post-title:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #d42dab;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
a#post-title:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.btn-custom {
  background-color: #4d1d63 !important;
  color: white !important;
  border-width: 2px !important;
}
.btn-custom:hover {
  background-color: white !important;
  color: black !important;
  border-color: #4d1d63 !important;
  border-width: 2px !important;
}
h5.card-text {
  font-weight: 400;
}
.post-t h2 {
  color: #4d1d63 !important;
}
.post.bg-white {
  padding: 8%;
  /* border-width: 2px !important; */
  /* background-color: red !important; */
  border-radius: 35px !important;
}
img.img-fluid.rounded {
  border-radius: 50% !important;
  height: 100% !important;
  padding: 10%;
}
.card {
  border: 1px solid #d42dab !important;
  border-radius: 35px !important;
}
.card-category {
  border: 1px solid #d42dab !important;
  border-radius: 25px !important;
}
h5.post-title.title.post-title.large:hover {
  color: #d42dab !important;
}
